h1 {
    color: rgb(77, 168, 41)
}
body {
    color: grey;
    background: rgb(240, 211, 117)
}
.links .Great {
    color: rgb(255, 116, 116)
}
.btn-1 {
    color: green;
}
.btn-2{
    color: green
}
.btn-3{
    color:green
}